//!  ======================== Обнуление стилей
@import "_nullstyles";
/* //* ======================== Шрифты ======================== */
@import "_fonts"; // HelveticaNeue
/* //* ======================== Оболочка и ограничивающий контейнер */
@import "_wrapper-block";
/* //* ======================== Картинка _ibg */
@import "_ibg";

$page-color: #ffd868;
$content-color: #721b65;
/* //* ======================== Pages */
.page__skill {
}
.page__sertification {
	margin: 92px 0px 108px 0px;
	@media (max-width: 975px) {
		& {
			margin: 30px 0px;
		}
	}
}
.page__presentation {
}
.page__offer {
	margin: 100px 0px 86px 0px;
	@media (max-width: 769px) {
		& {
			margin-top: 70px;
		}
	}
	@media (max-width: 430px) {
		& {
			margin: 30px 0px 35px 0px;
		}
	}
}
/* //* ============= Модыфикатор кнопка _btn */
._btn {
	display: flex;
	& a {
		display: inline-flex;
		justify-content: center;
		font-family: HelveticaNeue;
		font-weight: 500;
		font-size: 24px;
		line-height: calc(29 / 24 * 100%);
		align-items: center;
		text-align: center;
		min-width: 219px;
		padding: 16px 10px;
		background-color: $content-color;
		color: #fff;
		border-radius: 10px;
	}
}
/* //* =========================================== Skill ============================================== */
.skill {
	background-color: $page-color;
	&__container {
	}
	&__body {
		display: flex;
		@media (max-width: 975px) {
			& {
				flex-direction: column;
			}
		}
		@media (max-width: 570px) {
			& {
				flex-direction: column-reverse;
			}
		}
	}
	&__content {
		flex: 0 0 63%;
		position: relative;
		padding: 159px 0px;
		@media (max-width: 1115px) {
			& {
				padding: 75px 0px;
			}
		}
		@media (max-width: 975px) {
			& {
				padding-bottom: 25px;
			}
		}
		@media (max-width: 769px) {
			& {
				padding-top: 30px;
			}
		}
		@media (max-width: 570px) {
			& {
				padding: 15px 0 50px 0;
			}
		}
	}
	@media (max-width: 430px) {
		.skill__content > *:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&__title {
		font-family: HelveticaNeue;
		font-size: 80px;
		font-weight: 700;
		line-height: calc(90 / 80 * 100%);
		color: $content-color;
		max-width: 570px;
		margin-left: 150px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width: 1170px) {
			& {
				margin-left: 120px;
			}
		}
		@media (max-width: 1115px) {
			& {
				margin-left: 50px;
			}
		}
		@media (max-width: 769px) {
			& {
				font-size: 70px;
			}
		}
		@media (max-width: 570px) {
			& {
				font-size: 45px;
				margin-left: 0;
			}
		}
		@media (max-width: 430px) {
			& {
				font-size: 32px;
			}
		}
	}
	&__subtitle {
		font-family: HelveticaNeue;
		font-size: 20px;
		font-weight: 400;
		line-height: calc(24 / 20 * 100%);
		color: rgba(0, 0, 0, 0.6);
		margin-left: 200px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 1170px) {
			& {
				margin-left: 170px;
			}
		}
		@media (max-width: 1115px) {
			& {
				font-size: 18px;
				margin-left: 80px;
			}
		}
		@media (max-width: 570px) {
			& {
				margin-left: 0;
			}
		}
		@media (max-width: 430px) {
			& {
				font-size: 16px;
			}
		}
	}
	&__image {
		padding: 0px 0px 0px 50%;
		img {
			max-width: 100%;
			object-fit: contain;
			object-position: top;
			transform: translate(-10%, 0);
			@media (max-width: 975px) {
				object-fit: contain;
			}
		}
		@media (max-width: 975px) {
			padding: 30%;
			transform: translate(5%, 0);
		}
	}
}
.skill__bottons {
	margin: 0px 0px 0px 200px;
	display: flex;

	& a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: HelveticaNeue;
		font-size: 20px;
		font-weight: 500;
		line-height: calc(25 / 20 * 100%);
		padding: 16px 18px;
		min-width: 223px;
		border-radius: 10px;
	}
	& a:not(:last-child) {
		margin: 0px 24px 0px 0px;
	}
	@media (max-width: 1170px) {
		& {
			margin-left: 170px;
		}
	}
	@media (max-width: 1115px) {
		& {
			margin: 0;
		}
	}
	@media (max-width: 975px) {
		& a {
			flex: 1 1 50%;
		}
	}
	@media (max-width: 570px) {
		& {
			flex-direction: column;
		}
		& a {
			flex: 0 0 100%;
		}
		& a:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
		a {
			font-size: 16px;
			padding: 8px 18px;
		}
	}
}
.botton-white {
	background-color: #fff;
	color: $content-color;
}
.botton-red {
	background-color: $content-color;
	color: #fff;
}
/* //* =========================================== Sertification ============================================== */
.sertification {
	&__body {
		display: flex;
		flex-direction: row-reverse;
		@media (max-width: 975px) {
			& {
				display: block;
			}
		}
	}
	&__content {
		flex: 0 0 50%;
		position: relative;
		padding: 108px 0px 67px 78px;
		@media (max-width: 1250px) {
			& {
				padding-left: 45px;
			}
		}
		@media (max-width: 975px) {
			& {
				padding: 25px 0px;
			}
		}
		@media (max-width: 570px) {
			& {
				padding: 15px 0px;
			}
		}
	}
	&__title {
		font-family: HelveticaNeue;
		font-weight: 500;
		font-size: 60px;
		line-height: calc(73 / 60 * 100%);
		color: rgb(105, 105, 105);
		text-align: right;
		& span {
			color: #000;
		}
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
		@media (max-width: 1250px) {
			& {
				font-size: 48px;
			}
		}
		@media (max-width: 975px) {
			& {
				text-align: center;
			}
		}
		@media (max-width: 770px) {
			& {
				text-align: center;
			}
		}
		@media (max-width: 430px) {
			& {
				font-size: 40px;
			}
		}
	}
	&__subtitle {
		font-family: HelveticaNeue;
		font-weight: 300;
		font-size: 20px;
		line-height: calc(24 / 20 * 100%);
		&:not(:last-child) {
			margin: 0px 0px 60px;
		}
		@media (max-width: 770px) {
			&:not(:last-child) {
				margin: 0px 0px 30px;
			}
		}
		@media (max-width: 430px) {
			& {
				font-size: 16px;
			}
			&:not(:last-child) {
				margin: 0px 0px 15px;
			}
		}
	}

	&__botton {
		justify-content: end;
		& a {
			@media (max-width: 570px) {
				& {
					flex: 1 1 100%;
					font-size: 20px;
					padding: 10px;
				}
			}
		}
	}
	&__image {
		flex: 0 0 50%;
		min-height: 150px;
		padding: 0px 50% 0px 0px;
		img {
			max-width: 100%;
			object-fit: cover;
			@media (max-width: 975px) {
				& {
					max-width: 100%;
				}
			}
		}
		@media (max-width: 975px) {
			& {
				display: block;
				padding-bottom: 70%;
			}
		}
	}
}
/* //* =========================================== Presentation ============================================== */
.presentation {
	background-color: $page-color;
	&__body {
		padding: 30px 0px 40px 0px;
		text-align: center;
		@media (max-width: 415px) {
			& {
				padding: 30px 0px;
			}
		}
	}
	&__title {
		font-family: HelveticaNeue;
		font-weight: 500;
		font-size: 60px;
		line-height: calc(73 / 60 * 100%);
		color: $content-color;
		text-align: center;
		margin: 0px 0px 40px 0px;
		@media (max-width: 930px) {
			& {
				font-size: 50px;
			}
		}
		@media (max-width: 530px) {
			& {
				font-size: 40px;
			}
		}
		@media (max-width: 415px) {
			& {
				font-size: 28px;
				margin: 0px 0px 30px 0px;
			}
		}
	}
	&__body-link {
		font-family: HelveticaNeue;
		font-weight: 500;
		font-size: 20px;
		line-height: calc(24 / 20 * 100%);
		color: $content-color;
		@media (max-width: 415px) {
			& {
				font-size: 18px;
			}
		}
	}
}
.arrow {
	display: inline-flex;
	left: 10px;
	width: 8px;
	height: 14px;
	position: relative;
	overflow: hidden;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 12px;
		height: 2px;
		background-color: $content-color;
	}
	&::before {
		top: 2px;
		left: -4px;
		transform: rotate(47deg);
	}
	&::after {
		bottom: 2px;
		left: -4px;
		transform: rotate(-47deg);
	}
}
.row-presentation {
	margin-bottom: 40px;
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: -10px -15px;
		justify-content: center;
		@media (max-width: 975px) {
			& {
				margin: 0px -10px -10px;
			}
		}
	}
	@media (max-width: 415px) {
		& {
			margin-bottom: 35px;
		}
	}
	&__item {
		flex: 0 1 33.333%;
		padding: 10px 15px;
		min-width: 180px;
		@media (max-width: 975px) {
			& {
				flex: 1 1 50%;
			}
			&:not(:last-child) {
				padding: 0px 5px 10px;
			}
			&:last-child {
				flex: 0 1 50%;
				padding: 0px 5px 10px;
			}
		}
		@media (max-width: 630px) {
			& {
				flex: 1 1 100%;
			}
			&:last-child {
				flex: 1 1 100%;
				padding-bottom: 0;
			}
		}
	}
}
.item-presentation {
	&__image {
		padding: 100% 0px 0px 0px;
		height: 100%;
		background-color: #000;
		& img {
			object-fit: cover;
			max-width: 100%;
			opacity: 0.8;
		}
		@media (max-width: 630px) {
			& {
				padding: 60% 0px 0px 0px;
			}
		}
	}
}
.image-block {
	&__text {
		position: relative;
		font-family: HelveticaNeue;
		font-weight: 500;
		font-size: 22px;
		line-height: calc(27 / 22 * 100%);
		text-align: center;
		background: $content-color;
		height: 100%;
		color: #fff;
		padding: 16px 20px;
		@media (max-width: 340px) {
			& {
				font-size: 14px;
			}
		}
		@media (max-width: 760px) {
			& {
				font-size: 16px;
			}
		}
		@media (max-width: 390px) {
			& {
				padding: 10px;
			}
		}
	}
}
/* //* =========================================== Offer section ============================================== */
.offer-row {
	display: flex;
	flex-direction: column;
	padding-bottom: 126px;
	@media (max-width: 430px) {
		& {
			padding-bottom: 80px;
		}
	}
	&__title {
		font-family: HelveticaNeue;
		font-weight: 500;
		font-size: 60px;
		line-height: calc(73 / 60 * 100%);
		color: rgb(105, 105, 105);
		& span {
			color: #000;
		}
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
		@media (max-width: 750px) {
			& {
				font-size: 54px;
			}
		}
		@media (max-width: 430px) {
			& {
				font-size: 48px;
			}
		}
		@media (max-width: 350px) {
			& {
				font-size: 32px;
			}
		}
	}
	&__text {
		font-family: HelveticaNeue;
		font-weight: 300;
		font-size: 20px;
		line-height: calc(24 / 20 * 100%);
		&:not(:last-child) {
			margin: 0px 0px 60px 0px;
		}
		@media (max-width: 430px) {
			& {
				font-size: 16px;
			}
			&:not(:last-child) {
				margin: 0px 0px 35px 0px;
			}
		}
	}
	&__botton {
		justify-content: center;
		@media (max-width: 570px) {
			& a {
				flex: 1 1 100%;
				padding: 10px;
			}
		}
	}
}
.social-row {
	display: flex;
	justify-content: center;
	&__icon {
		display: flex;
		width: 111px;
		height: 111px;
		background-color: $content-color;
		border-radius: 50%;
		padding: 25px;
		img {
			max-width: 100%;
			object-fit: contain;
		}
		&:not(:last-child) {
			margin: 0px 4% 0px 0px;
		}
		@media (max-width: 470px) {
			& {
				width: 80px;
				height: 80px;
				padding: 20px;
			}
		}
	}
}
